/* START MENU TOP */
#top__heading {
    background-color: var(--black-color);
    height: 46px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;
}

/* <!--START- MENU LEFT --> */
.top__header-menu-left {
    display: flex;
    align-items: center;
    padding-left: 0;
}
.top__header-menu-left a {
    text-decoration: none;
    color: white;
}
.top__header-menu-left--text__list {
    display: flex;
    list-style: none;
    margin-right: 200px;
    padding-left: 20px;
}
.menu-left--text__icon {
    color: var(--main-color);
}
.top__header-menu-left--text-item {
    padding-right: 12px;
}

.menu-left--text {
    padding-left: 10px;
}
.menu-left--text:hover {
    color: var(--main-color);
}
/* <!--END- MENU LEFT --> */


/* <!--START- MENU RIGHT --> */

.top__header-menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.top__header-menu-left--icon {
   margin-right: 20px;
   
}
.top__header-menu-left--icon a {
    text-decoration: none;
    color: white;
}
.top__header-menu-left--icon a:hover {
    color: var(--main-color);
}
.top__header-menu-right-iconmini {

    margin-right: 16px;
}
.top__header-menu-right--text {
   background-color: #3abdc1;
   line-height: 46px;
    width: 140px;
   text-align: center;
   position: relative;
   font-weight: 600;
   cursor: pointer;
   
   
}
.top__header-menu-icon-down {
    font-size: 14px;
  

}
.top__header-menu-right--icon {
    background-color: var(--main-color);
    line-height: 46px;
   
}
.top__header-menu-right--icon a {

    text-decoration: none;
    color: white
}
.top__header-menu-icon-avt {
    width: 46px;
    text-align: center;
    font-size: 18px;
    background-color: var(--main-color);
    
}
.top__header-menu-right--text a {
    color: white;
    text-decoration: none;
}
/* <!-- HOVER ENGLISH --> */

.top__header-menu-right--list {
    width: 140px;
    position: absolute;
    top: 72%;
    left: 0;
    background-color: var(--main-color);
    list-style: none;
    padding: 0;
    display: none;
    transform-origin: top center;
    animation: floatDown ease-in 0.2s;
    will-change: transform;
}
.top__header-menu-right--text:hover .top__header-menu-right--list{
    display: block;
}
.top__header-menu-right-item {
    text-align: left;
    padding-left: 38px;
    cursor: default;
   
}
.top__header-menu-right-item a {
    text-decoration: none;
    line-height: 24px;
    color: white;
    position: relative;
}
.top__header-menu-right-item a::after {
    content: "";
    background: white;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    top:100%;
    transition: ease 0.2s;
}
.top__header-menu-right-item a:hover::after {
    width: 100%;
}

/* END MENU TOP */


/* START MAIN MENU */

/* <!-- MAIN - LOGO --> */
#main__menu {
    display: flex;
    flex-direction: column;
}
.main__menu_logo {
    margin: auto;
    margin-top: 50px;
}
.main__menu_logo-img {
    height: 80px;
}
.main__menu_list {
    padding: 0 240px;
    display: flex;
    height: 82px;
    list-style: none;  
    margin: auto;
    cursor: pointer;
}
.main__menu_list-item-home,
.main__menu_list-item-page,
.main__menu_list-item-destinations,
.main__menu_list-item-tours,
.main__menu_list-item-blog,
.main__menu_list-item-shop,
.main__menu_list-item-elements
{
    line-height: 82px;
    padding: 0 37px;
    
}
.main__menu_list-item--text {
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
    width: 100%;
    
}
/* <!-- END - MAIN - LOGO --> */

/* <!-- START LIST MENU --> */
    /* <!-- HOME to SHOP--> */

.list__home,
.list__page,
.list__destinations,
.list__tours,
.list__blog,
.list__shop
{
    position: relative;
    
}
.main__menu_list-home,
.main__menu_list-page,
.main__menu_list-destinations,
.main__menu_list-tours,
.main__menu_list-blog,
.main__menu_list-shop
{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 250px;
    position: absolute;
    top: 100%;
    left: -40px;
    background-color: white;
    box-shadow: 0 0 2px #ccc;
    list-style: none;
    border: none;
    line-height: 40px;
    display: none;
    transform-origin: top center;
    animation: floatDown ease-in 0.3s;
    will-change: transform;
}
.menu_list-home-text-content,
.menu_list-page-text-content,
.menu_list-destinations-text-content,
.menu_list-tours-text-content,
.menu_list-blog-text-content,
.menu_list-shop-text-content
{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    
}
.main__menu_list-item-home:hover .main__menu_list-home,
.main__menu_list-item-page:hover .main__menu_list-page,
.main__menu_list-item-destinations:hover .main__menu_list-destinations,
.main__menu_list-item-tours:hover .main__menu_list-tours,
.main__menu_list-item-blog:hover .main__menu_list-blog,
.main__menu_list-item-shop:hover .main__menu_list-shop
{
    display: block;
}
    /* <!-- END HOME to SHOP --> */

    /* BLOG AND SHOP */

.have_nav_1,
.have_nav_2,
.have_nav_3,
.have_nav_4

{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.main__menu_list_icon-right {
    font-size: 12px;
   
} 
.menu_list-blog-standard,
.menu_list-post-types,
.menu_list-shop-layouts,
.menu_list-shop-pages
 {
    position: absolute;
    top: -24px;
    left: 100%;
    background-color: white;
    box-shadow: 0 0 2px #ccc;
    list-style: none;
    border: none;
    line-height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 250px;
    display: none;
    transform-origin: top center;
    animation: floatDown ease-in 0.3s;
    will-change: transform;
}

.menulist_navbar_link {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
}
.main__menu_list-blog-text.have_nav_1:hover .menu_list-blog-standard,
.main__menu_list-blog-text.have_nav_2:hover .menu_list-post-types,
.main__menu_list-shop-text.have_nav_3:hover .menu_list-shop-layouts,
.main__menu_list-shop-text.have_nav_4:hover .menu_list-shop-pages

{
    display: block;
}

    /* END BLOG AND SHOP */



    /* ELEMENTS */
.main__menu_list-item-elements {
    position: relative;
}

.main__menu_list-item--text {

}

.elements_list {
    position: absolute;
    width:auto;
    left: -994px;
    top: 100%;
    background-color: white;
    box-shadow: 0 0 2px #ccc;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-right: 40px;
    display: none;
    transform-origin: top center;
    animation: floatDown ease-in 0.2s;
    will-change: transform;
}
.elements_list > ul{
    width: 330px;
    list-style: none;
    margin: 20px 0 ;
}
.elements_list li a {
    text-decoration: none;
    color: var(--black-color);
    display: block;
    line-height: 40px;
    font-weight:500;
    font-size: 14px;
    width: fit-content;
}

.elements_list_name {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0;
    display: block;
    text-decoration: none;
}

.main__menu_list-item-elements:hover .elements_list {
    display: flex;
}

    /* END - ELEMENTS */
.main__menu_list a {
    position: relative;
}
.main__menu_list a:hover {
    color: var(--main-color);
}
.main__menu_list a::after {
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 0;
    left: 0;
    top: 100%;
    position:absolute;
    transition: ease 0.2s;        
}
.main__menu_list a:hover::after {
    width: 100%;
    
}

/* <!-- END LIST MENU --> */
/* END MAIN MENU */

/* CONTAINER */
.container__wrap {
    width: 1300px;
    margin: auto;
}
/* CONTAINER-BOX */

.container__banner {
    display: flex;
    margin: auto;
    justify-content: center;
}
.container__banner-img1 {
    margin-right: 32px;
}
/* END-CONTAINER-BOX */

/* CONTAINER-OUR */
.container__our {
    display: flex;
    margin: auto;
    
    height: 490px;
    align-items: center;
}
.container__our-left {
    margin: 0 40px 0 10px;
}
.container__our-right {
    width: 635px;
    margin: 0 112px; 
    padding-top: 90px;
    padding-left: 40px;
}
.container__our-right-text-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--text-color);
    line-height: 15px;
}
.container__our-right-text-main {
    font-size: 17px;
    color: var(--text-color);
    line-height: 28px;
    padding-bottom: 25px;
}
.container__our-right-skill-bar-title {
    display: flex;
    justify-content: space-between;
}
.our-right-title-left {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.our-right-title-right {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.container__our-right-skill-bar-shape {
    margin: 12px 0 30px 0;

}

.container__our-right-skill-bar-grey {
    position: relative;
    background-color: #f0ede8;
    height: 22px;
}

.container__our-right-skill-bar-green {
    position: absolute;
    background-color: #3fd0d4;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: left;
}
.container__our-right-skill-bar-76 {
    width: 76%;
    animation: skillBar linear 1s;
}
.container__our-right-skill-bar-92 {
    width: 92%;
    animation: skillBar linear 1s;
}
.container__our-right-skill-bar-86 {
    width: 86%;
    animation: skillBar linear 1s;
}

.container__our-right-skill-bar-76::before,
.container__our-right-skill-bar-92::before,
.container__our-right-skill-bar-86::before{
    content: "";
    position: absolute;
    width: 22px;
    height: 100%;
    background-color: var(--skill-color)
}

.container__our-right-skill-bar-76::after ,
.container__our-right-skill-bar-92::after ,
.container__our-right-skill-bar-86::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 100%;
    background-color: var(--skill-color)
}

/* END-CONTAINER-OUR */

/* THE BEST TOUR */
.container__best-tours {
    padding-top: 100px;
   text-align: center;
   margin: auto;
}
.container__best-tours_title {
    font-size: 65px;
    font-weight: 600;
    
}

.container__best-tours_content {
    font-size: 17px;
    line-height: 28px;
    color: var(--text-color);
    margin-top: 12px;
    padding-bottom: 30px;
    max-width: 50%;
    margin: auto;
}

/* PICTURE */
.container__best-tours_box {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__best-tours_col {
    overflow: hidden;
   
   
    /* margin: 60px 0;
    position: relative; */
}
.container__best-tours_column {
    overflow: hidden;
    
}

.col_1, .col_2, .col_3, .col_4 {
    /* width: 25%; */
}
.container__best-tours-img-text {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    
}

.container__best-tours-img {
   
    
      width: 300px;
 
    /* background-size: contain; */
    /* background-position: center; */
}
.container__best-tours-img:hover {
   animation: zoomImage ease 1.5s;

}
.container__best-tours-img-height {
    width: 300px;
    padding: 0;
    margin: 0;
  

}
.container__best-tours-text {

    position: absolute;
    width: 320px;
    left: -8px;
    bottom: 2%;
    display: flex;
    color: white;
    justify-content: space-between;
    /* border: none; */
}
.container__best-tours-img-height {
  
   
}
.tours-text-left {
    padding-left: 40px;
    font-weight: 600;
    
}
.tours-text-right {
    font-weight: 600;
    padding-right: 40px;
    

}
/* END THE BEST TOUR */

/* <!-- CONNTAINER BOX NUMBER --> */



.container__best_number {
    display: flex;
    justify-content: space-between;
    padding: 132px 0;
}

.container__best_number-box {
    text-align: center;
}

.container__number-big-num {
    font-size: 65px;
    color: var(--text-color);
    font-weight: 600;
   margin:0;
    
}

.container__number-title {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
}

.container__number-content {
    font-size: 14px;
    max-width: 284px;
    margin-top: 11px;
    font-weight: 400;
    line-height: 18px;
}
/* <!-- END CONNTAINER BOX NUMBER --> */

/* <!-- VIDEO CONNTAINER --> */

.container__video {
    /* width: 100%;
    height: 100%; */
    
}

/* <!-- END VIDEO CONNTAINER --> */

/* CONTAINER POPULAR */
.container__popular {
    display: flex;
    justify-content: space-between;
    margin: 150px 0;;
}
.container__popular_left {
    width: 745px;
 padding-right: 15px;

}

.container__popular_right {
  align-items: center;
  text-align: center;
  flex: 1;
}

.container__popular_left-main {
padding-bottom: 40px;

}
.container__popular_left-main-big {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
}
.container__popular_left-main-mini {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 28px;
    margin-top: 10 px;
    letter-spacing: 0.5px;

}
.container__popular_left-content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.container__popular_left-content-top-left,
.container__popular_left-content-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__popular_left-content-top-left-icon {
    padding-right: 30px;
}
.container__popular_left-content-top-left-text {
    font-size: 14px;
    color: var(--text-color);
    max-width: 265px;
}
/* END - CONTAINER */


/* FOOTER */
#footer__part {
    width: 100%;
    
    background-color: var(--text-color)
}
.footer_box {
    display: flex;
    justify-content: space-between;
    padding: 106px 110px 50px 110px ;
}
.footer_box_col {
    max-width: 325px;
} 
.footer_box_col a {
    text-decoration: none;
}
.footer_box_col-logo {
    height: 84px;
}
.footer_col1-note {
    max-width: 380px;
    font: 17px;
    color: #a9a9a9;
}

.footer_box_col-info-text a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.footer_box_col2-title {
    display: flex;
   padding-bottom: 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.icon_footer {
    padding-right: 10px;
}
.footer_content-mini  {
    font-size: 14px;
    color: #a9a9a9;
    max-width: 325px;
}
.footer_content {
    color: white;
  
    font-size: 14px;
}
.footergroup {
    padding-bottom: 20px;
}
.footer__input {
    margin-top: 30px;
    width: 388px;
}

.footer__input_row {
    background-color: #595959;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-icon {
    align-items: center;
    color: white;
    margin: auto;
    text-align: center;
    margin: 15px 0 15px 15px;
}
.footer__input-name,
.footer__input-email
{
    width: 100%;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
    background-color: #595959;
    padding-left: 10px;
}
.footer_input-btn {
    width: 100%;
    height: 52px;
    color: white;
    background-color: var(--main-color);
    outline: none;
    border:none;
    cursor: pointer;
}
.footer_input-btn:hover {
    background-color: white;
    color: var(--main-color);
}
.footer_coppyrite {
    margin: 20px 0;
    font-size: 13px;
    text-align: center;
    width: 100%;
    color: #a9a9a9;
    background-color: var(--text-color);
   display: inline-block;
}
.coppyright_bold {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.footer_box a p:hover {
    color: var(--main-color);
}
.footer_box .footer_link:hover {
    color: var(--main-color);
}

.footer_box .text:hover {
    cursor: text;
}